
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Usuário</title>
</head>
<body>
    <% include partials/menu %>

    <h1>Detalhes do Usuário</h1>
    <ul>
        <% for (let chave in usuario) { %>
            <li><strong><%= chave %>:</strong> <%= usuario[chave] %></li>
        <% } %>
    </ul>
</body>
</html>
